---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Economic Analysis"
      subtitle="2023 to 2024 at The University of Sydney, Sydney, Australia"
    />
    <TimeLineElement
      title="Bachelor of Economics"
      subtitle="2018 to 2021 at University of New South Wales, Sydney, Australia"
    />
    <TimeLineElement
      title="Bachelor of Science(Statistics)"
      subtitle="2018 to 2021 at University of New South Wales, Sydney, Australia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Casual Academic"
      subtitle="From 2024 till now at The University of Sydney, Sydney, Australia"
    >
      Teaching introductory marcoeconomics (ECON1002)
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistants"
      subtitle="From 2023 till now at The University of Sydney, Sydney, Australia"
    >
      Use STATA to clean up the raw data. Use R and gather the information and plot it on the map. Making slides, tutorial and answer keys using LATEX.
    </TimeLineElement>
    <TimeLineElement
      title="Timeline Editor"
      subtitle="From 2022 till now at Gcores, Beijing, China"
    >
      Wrote essays according to program outline and audio. Researched relevant image and applied watermark for the program. Added time stamp to the timeline with relevant content from the essay. Demonstrated great information processing and content creation skills.
    </TimeLineElement>
    <TimeLineElement
      title="Commercial Operation"
      subtitle="From Jan to Feb 2022 at Albaugh LLC, Suzhou, China"
    >
      Managed order requests from the globe and prepared documentations for customs and transportation. Managed order forecast and sent purchasing request to central planning. Analyzed the flaws in current order processing system. Streamlined the order fulfillment process by reducing process steps by 30%.
    </TimeLineElement>
    <TimeLineElement
      title="Industry Consultant"
      subtitle="From Sep to Dec 2019 at Accenture, Sydney, Australia"
    >
      Managed order requests from the globe and prepared documentations for customs and transportation. Managed order forecast and sent purchasing request to central planning. Analyzed the flaws in current order processing system. Streamlined the order fulfillment process by reducing process steps by 30%.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> English</a>
    </li>
    <li>
      <a href="#" target="_blank"> Chinese</a>
    </li>
    <li>
      <a href="#" target="_blank"> Japanese</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>MATLAB</li>
    <li>STATA</li>
    <li>Python</li>
    <li>HTML</li>
    <li>R</li>
    <li>SQL</li>
    <li>Linux</li>
  </ul>
</BaseLayout>
