---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Research" sideBarActiveItemID="research">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Working Papers</div>
    </div>

    <div class="mb-10 text-justify">
        <ul class="list-disc list-inside">
            <li class="text-xl">
                <a href="/Research/Fiscal_draft_June_2024.pdf" class="text-green-uo underline">The sacrifice ratio and active fiscal policy</a>, June 2024, with <a href="https://christopherggibbs.weebly.com/" class="text-author font-bold" >Christopher Gibbs</a>
            </li>
        </ul>
    </div>


</BaseLayout>