---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Research" sideBarActiveItemID="research">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Working Papers</div>
    </div>

    <div class="mb-10 text-justify">
        The sacrifice ratio and active fiscal policy, with Christopher Gibbs
    </div>


</BaseLayout>