---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Herbert Xin
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://herbertwxin.github.io" target="_blank" class="font-bold">Herbert Xin</a>. All rights reserved.
  </div>
</footer>
<style></style>
